### Day1

##### 1) print statements

In [74]:
 
a=10
b=15
c=a+b
d="Mamatha Gollavilli"


print("a+b") # a+b
print("a","b") #a b
print("a" + "b")#ab
print("a" + " " + "b") #a b
print(a+b) #25
print("Addition of numbers", c) 
print("Addition of 10 and 15 is", c)
print("Addition of",a,"and",b,"is",c)
print("Addtion of {} and {} is {}".format(a,b,c))
print(f"Addition : {a} + {b}={c}") #format
print("Addition of two numbers are : ",end=" ") 
print(f"{c}")
print("hello "*5) 
print(f"Addition of two numbers are:\t{c}") #tab
#print('1'st class') 
print('1\'st class') #single quote
print("mamatha \bgollavilli") #backslash
print("mamatha   \bgollavilli") #it remove one space/charater before backslash

a+b
a b
ab
a b
25
Addition of numbers 25
Addition of 10 and 15 is 25
Addition of 10 and 15 is 25
Addtion of 10 and 15 is 25
Addition : 10 + 15=25
Addition of two numbers are :  25
hello hello hello hello hello
Addition of two numbers are:	25
1'st class
mamathagollavilli
mamatha  gollavilli

In [29]:
a=10 #integer 
c=a+5.0 
d=2.5 #float
e="Mammu" #string
z=3+2j  #complex
f=True  # bool

print(type(a))
print(type(c))
print(type(d))
print(type(e))
print(type(z))
print(type(f))

<class 'int'>
<class 'float'>
<class 'float'>
<class 'str'>
<class 'complex'>
<class 'bool'>

##### Take 3 inputs from the user and find min and max values among three numbers

In [55]:

a=int(input("Enter the interger number of a:"))
b=int(input("Enter the interger number of b:"))
c=int(input("Enter the interger number of c:"))
d=min(a,b,c)
e=max(a,b,c)
print("Print the lowest number",d)
print("Print the biggest number", e)

Enter the interger number of a: 12
Enter the interger number of b: 43
Enter the interger number of c: 46

Print the lowest number 12
Print the biggest number 46

In [58]:
import random
print(random.randrange(1,10))

2

In [59]:
import random
print(f"Random Number is : {random.randrange(1,10)}")

Random Number is : 5

##### 2)Identifir/ Variables

In [60]:
''' multi-line comments
These are the different types of representing the variables
'''

first_var1= 5
#1st_var1 =10 #invalid decimal literal
_1st_var =10
_firstvar1=89
FirstSecondThird=123 #camel case
First_Second_Third=123
First2nd3rd=123
print("values: ", first_var1,first_var1,_firstvar1,FirstSecondThird,First_Second_Third,First2nd3rd)

values:  5 5 89 123 123 123

In [64]:
d=16/3 
print(d)
c=format((16/3),'.2f')
print(c)
d=16//3
print(d)
d=16%3
print(d)
d=2*3
print(d)
d=2**3
print(d)

5.333333333333333
5.33
5
1
6
8

##### 3) #WAP to determine whether a person is eigible to vote or not , if not find remaining years to be eligible

In [81]:
PersonAge=int(input("Enter the person age: "))
if(PersonAge>0):
    if(PersonAge<18):
        required_age=18-PersonAge;
        print(f"{required_age} yrs required to cast the vote")
    else:
        print("Eligible to vote")
else:
    print("Invalid plese enter valid data")

Enter the person age:  12

6 yrs required to cast the vote

##### 4) WAP for even sum and odd sum between two intervals

In [84]:
num1=int(input("Enter the starting range: "))
num2=int(input("Enter the ending range: "))
even_sum=0
odd_sum=0
for i in range(num1,num2):
    if(i%2==0):
        even_sum=even_sum+i
    else:
        odd_sum=odd_sum+i
        
print(f"even_sum is {even_sum} and odd_sum is {odd_sum}")

Enter the starting range:  2
Enter the ending range:  10

even_sum is 20 and odd_sum is 24

##### 5) WAP to get numbers which are divisble by 4 and 6 only between two intervals

In [92]:
num1=int(input("Enter the starting range: "))
num2=int(input("Enter the ending range: "))
print("Numbers are : ",end=" ")
for i in range(num1,num2+1):
    if(i%4==0 and i%6==0):
        print(i,end=" ")

Enter the starting range:  10
Enter the ending range:  100

Numbers are :  12 24 36 48 60 72 84 96

##### 6) WAP to get a pattern like  n+nn+nnn+nnnn.........
         Ex: 5+55+555= 615

In [114]:
n=int(input("Enter the number:"))
r=int(input("Enter the repetation number: "))
sum=0
for i in range(1,r+1):
    num=str(n)*i  #casting and repeatation 
    #num=i*f"{n}"
    sum=sum+int(num)
    if(i==r):
        print(num,end="=")
    else:
        print(num,end="+")
    
print(sum)

Enter the number: 5
Enter the repetation number:  5

5+55+555+5555+55555=61725

##### 7) Prime number

In [117]:
print("Prime Numbers are: ")
for i in range(0,101):
    count=0
    for m in range(1,i+1):
        if(i%m==0):
            count=count+1
    if(count==2):
        print(i,end=" ")

Prime Numbers are:
2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97

##### 8) Reverse a given number using while loop

In [121]:
a=123
rev=0
while(a>0): 
    dig=a%10
    rev=rev*10+dig
    a=a//10
print("reverse of a :",rev)

reverse of a : 321

##### 9)multiples of individual digits of a number

In [120]:
a=456
mul=1
while(a>0): 
    dig=a%10
    mul=mul*dig
    a=a//10
print("reverse of a :",mul)

reverse of a : 120

In [66]:
#10) Grading
sub1=float(input("enter mrks of A:"))
sub2=float(input("enter mrks of B:"))
sub3=float(input("enter mrks of C:"))
sub4=float(input("enter mrks of D:"))
sub5=float(input("enter mrks of E:"))
total=sub1+sub2+sub3+sub4+sub5
print("total marks obtained:",total)
per=total/5
print("percentage secured:",per)
if(per>=90):
    print("distinction")
elif(per>=80 and per<90):
    print("frst class")
elif(per>=70 and per<80):
    print("sec class")
elif(per>=60 and per<70):
    print("third class")
else:
    print("fail")

enter mrks of A: 89
enter mrks of B: 98
enter mrks of C: 87
enter mrks of D: 92
enter mrks of E: 93

total marks obtained: 459.0
percentage secured: 91.8
distinction

In [79]:
#11) WAP to print 6 table
for i in range(21):
   # r=6*i
    #print(str(6)+"*"+str(i)+"="+str(r))
    #print(f"6 * {i} = {r}")
    print(f"6 * {i} = {i*6}")

6 * 0 = 0
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60
6 * 11 = 66
6 * 12 = 72
6 * 13 = 78
6 * 14 = 84
6 * 15 = 90
6 * 16 = 96
6 * 17 = 102
6 * 18 = 108
6 * 19 = 114
6 * 20 = 120